@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;0,600;1,300;1,600&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

:root {
  --primary-light-red: hsl(356, 100%, 66%);
  --primary-very-light-red: hsl(355, 100%, 74%);
  --primary-very-dark-blue: hsl(208, 49%, 24%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-grayish-blue: hsl(240, 2%, 79%);
  --neutral-very-dark-grayish-blue: hsl(207, 13%, 34%);
  --neutral-very-dark-black-blue: hsl(240, 10%, 16%);
  --gradient-very-light-red: hsl(13, 100%, 72%);
  --gradient-light-red: hsl(353, 100%, 62%);
  --gradient-very-dark-blue: hsl(237, 17%, 21%);
  --gradient-very-dark-desatured-blue: hsl(237, 23%, 32%);
  --main-fs: 16px;
  --ff-overpass: "Overpass", sans-serif;
  --ff-ubuntu: "Ubuntu", sans-serif;
  --fw-thin: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.hide {
  display: none !important;
}

.page-introduction {
  background: linear-gradient(
    to right,
    var(--gradient-very-light-red),
    var(--gradient-light-red)
  );
  font-family: var(--ff-overpass);
  border: none;
  border-radius: 0 0 0 100px;
}

.introduction-bg-image {
  background-image: url("/bg-pattern-intro-desktop.svg");
  background-position-y: -66.5rem;
  background-position-x: -12.5rem;
  background-repeat: no-repeat;
  background-size: calc(100% * 1.75);
  border-radius: 0 0 0 100px;
  padding: 2.5rem 0 3rem 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 1rem 1rem;
}

.logo {
  margin: 0 1rem 0 0;
}

.logo-navigation,
.header-list {
  display: flex;
  align-items: center;
  transition: 0.25s;
  gap: 1.5rem;
}

.header-list-item {
  padding: 1rem;
  font-size: var(--main-fs);
  font-weight: var(--fw-bold);
  border: none;
  border-radius: 5px;
  color: var(--neutral-white);
  transition: 0.45s;
  cursor: pointer;
}

.header-list-item:hover {
  color: var(--primary-light-red);
  background: var(--neutral-white);
}

.header-button {
  padding: 1rem 2rem;
  font-weight: var(--fw-bold);
  font-size: var(--main-fs);
  border: none;
  border-radius: 30px;
  transition: 0.25s;
}

.login {
  color: var(--neutral-white);
}

.sign {
  color: var(--primary-light-red);
  background: var(--neutral-white);
}

.sign:hover {
  color: var(--neutral-white);
  background: var(--primary-very-light-red);
}

.introduction-section {
  margin: 5rem 0;
  text-align: center;
}

.main-title {
  font-size: calc(3 * var(--main-fs));
  color: var(--neutral-white);
}

.introduction-paragraph {
  margin: 1rem 0 2.5rem;
  font-size: calc(1.15 * var(--main-fs));
  font-weight: var(--fw-thin);
  color: var(--neutral-white);
}

.intro-button-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.intro-button {
  padding: 1rem 2rem;
  font-weight: var(--fw-bold);
  font-size: var(--main-fs);
  border-radius: 30px;
  transition: 0.25s;
}

.start {
  color: var(--primary-light-red);
  background: var(--neutral-white);
}

.start:hover {
  background: var(--primary-very-light-red);
  color: var(--neutral-white);
}

.learn {
  color: var(--neutral-white);
  border: 1px solid var(--neutral-white);
}

.learn:hover {
  background: var(--neutral-white);
  color: var(--primary-light-red);
}

/* Mobile menu styling -- Start */

.hamburguer-menu {
  display: none;
}

.mobile-nav-container {
  background: #fff;
  padding: 2rem;
  margin: 0 1rem;
  border-radius: 8px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}

.mobile-nav-container a {
  display: block !important;
}

.mobile-navigation-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0;
  gap: 0.5rem;
  font-size: calc(var(--main-fs) * 1.5);
}

.mobile-navigation-item a {
  color: var(--neutral-very-dark-black-blue);
  font-weight: var(--fw-bold);
}

.mobile-nav-toggle {
  background: transparent;
  border: none;
}

.dropdown-content {
  display: block;
  padding: 1rem;
  font-size: calc(var(--main-fs) * 1.25);
  text-align: center;
  background: var(--neutral-grayish-blue);
  border: none;
  border-radius: 8px;
}

.dropdown-content a {
  color: var(--neutral-very-dark-black-blue);
  font-weight: 700;
  margin: 1rem 0;
}

.border-div {
  margin: 2rem 0 1rem;
  border: 1px solid var(--neutral-grayish-blue);
}

.menu-button {
  margin: 0 auto;
  padding: 1rem;
  width: 50%;
  font-size: calc(var(--main-fs) * 1.25);
  font-weight: var(--fw-bold);
  text-align: center;
}

.mobile-menu-login {
  color: var(--neutral-very-dark-black-blue);
}

.mobile-menu-sign {
  background: linear-gradient(
    to right,
    var(--gradient-very-light-red),
    var(--gradient-light-red)
  );
  color: #fff;
  border-radius: 30px;
}

/* Mobile menu styling -- END*/

.editor-section {
  width: 80%;
  margin: 8rem auto 0;
}

.editor-introduction {
  display: flex;
  align-items: center;
}

.editor-main-title {
  text-align: center;
  font-size: calc(2.25 * var(--main-fs));
  font-family: var(--ff-overpass);
  color: var(--neutral-very-dark-black-blue);
}

.editor-about {
  font-size: var(--main-fs);
  line-height: 1.75;
  width: 80%;
}

.editor-about h3 {
  font-size: calc(1.5 * var(--main-fs));
  font-family: var(--ff-overpass);
  color: var(--neutral-very-dark-black-blue);
}

.editor-about p {
  margin: 1rem 0 4rem;
  font-family: var(--ff-overpass);
}

.editor-about p:last-child {
  margin: 1rem 0 0;
}

.editor-image-box {
  background-image: url("/illustration-editor-desktop.svg");
  background-size: 50vw;
  background-repeat: no-repeat;
  position: relative;
  right: -16.5rem;
  height: 80vh;
  width: 100%;
}

.infrastructure-section {
  display: flex;
  align-items: center;
  gap: 7rem;
  background: var(--neutral-very-dark-black-blue);
  border: none;
  border-radius: 0 100px 0 100px;
  margin: 2rem 0;
  padding: 1rem 0;
  background-image: url("/bg-pattern-circles.svg");
  background-position-y: -35rem;
  background-position-x: -15rem;
  background-size: 75%;
  background-repeat: no-repeat;
}

.image-box {
  position: relative;
  bottom: 5rem;
  left: 1rem;
  height: 40vh;
}

.phones-image {
  position: relative;
  bottom: 1rem;
  object-fit: cover;
}

.infrastructure-about {
  font-family: var(--ff-overpass);
}

.infrastructure-main-title {
  font-size: calc(2.25 * var(--main-fs));
  color: var(--neutral-white);
}

.infrastructure-paragraph {
  margin: 1rem 0 0;
  max-width: 70%;
  font-size: var(--main-fs);
  line-height: 1.75;
  font-weight: var(--fw-thin);
  color: var(--neutral-grayish-blue);
}

.blogr-section {
  display: flex;
  align-items: center;
  font-family: var(--ff-overpass);
  margin: 10rem 0 0;
}

.blogr-image-box {
  background-image: url("/illustration-laptop-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50vw;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 70vh;
  left: -7.9rem;
}

.about-title {
  font-size: calc(1.5 * var(--main-fs));
  font-family: var(--ff-overpass);
  color: var(--neutral-very-dark-black-blue);
}

.about-paragraph {
  font-size: var(--main-fs);
  line-height: 1.75;
  margin: 1rem 0 4rem;
  max-width: 70%;
}

.about-paragraph:last-child {
  margin: 1rem 0 0;
}

footer {
  margin: 4rem 0 0;
  padding: 2rem 0;
  border: none;
  border-radius: 0 60px 0 0;
  font-family: var(--ff-overpass);
  background: var(--neutral-very-dark-black-blue);
}

.wrapper {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.footer-navigation {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.footer-nav-title {
  font-size: calc(var(--main-fs) - 1px);
  margin: 0 0 1.25rem;
  color: var(--neutral-white);
}

.footer-nav-list li {
  margin: 0.75rem 0;
}

.footer-nav-list-item {
  font-size: calc(var(--main-fs) - 2px);
  font-weight: var(--fw-thin);
  color: var(--neutral-grayish-blue);
  cursor: pointer;
  position: relative;
}

.footer-nav-list-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: var(--neutral-white);
  border-radius: 5px;
  transform: scaleX(0);
  transition: 0.25s;
}

.footer-nav-list-item:hover::after {
  transform: scaleX(1);
}

@media screen and (max-width: 375px) {
  .introduction-bg-image {
    background-image: url("/bg-pattern-intro-mobile.svg");
    background-position-y: -15.5rem;
    background-position-x: -20rem;
    background-repeat: no-repeat;
    background-size: calc(100% * 3.5);
    border-radius: 0 0 0 100px;
  }

  header {
    width: 100%;
    padding: 1.5rem;
  }

  .logo {
    margin: 0;
  }

  .header-list {
    display: none;
  }

  .header-button {
    display: none;
  }

  .hamburguer-menu {
    display: block;
  }

  .introduction-section {
    width: 80%;
    margin: 5rem auto;
  }

  .main-title {
    font-size: calc(2 * var(--main-fs));
  }

  .intro-button {
    padding: 0.8rem 1rem;
    font-size: calc(var(--main-fs) - 2px);
  }

  .editor-section {
    width: 80%;
    margin: 6rem auto 0;
  }

  .editor-introduction {
    display: block;
  }

  .editor-main-title {
    font-size: calc(1.75 * var(--main-fs));
  }

  .editor-image-box {
    background-image: url("/illustration-editor-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90vw;
    margin: 0;
    width: 100%;
    height: 35vh;
    top: -62.5rem;
    right: 0;
  }

  .editor-image {
    width: 100%;
  }

  .editor-about {
    margin: 20rem 0 0;
    font-size: var(--main-fs);
    line-height: 1.75;
    width: 100%;
  }

  .editor-about h3 {
    text-align: center;
    font-size: calc(1.5 * var(--main-fs));
    padding: 0 0.5rem;
  }

  .infrastructure-section {
    background-image: url("/bg-pattern-circles.svg");
    background-position-x: center;
    background-position-y: -13rem;
    background-size: calc(100vw * 1.5);
    display: block;
    margin: 0;
    padding: 0rem 0 5rem;
    text-align: center;
  }

  .image-box {
    bottom: 15.5rem;
    left: 0rem;
    height: 25vh;
  }

  .phones-image {
    position: relative;
    width: 100vw;
    top: 3.5rem;
  }

  .infrastructure-about {
    font-family: var(--ff-overpass);
  }

  .infrastructure-main-title {
    font-size: calc(2.25 * var(--main-fs));
    color: var(--neutral-white);
  }

  .infrastructure-paragraph {
    margin: 1rem auto 0;
    max-width: 80%;
    font-size: var(--main-fs);
    line-height: 1.75;
    font-weight: var(--fw-thin);
    color: var(--neutral-grayish-blue);
  }

  .blogr-section {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 90%;
    font-family: var(--ff-overpass);
  }

  .blogr-image-box {
    background-image: url("/illustration-laptop-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: calc(100vw * 1.25);
    width: 100%;
    height: 50vh;
    margin: 0 auto;
    position: static;
  }

  .about-title {
    font-size: calc(1.5 * var(--main-fs));
    font-family: var(--ff-overpass);
    color: var(--neutral-very-dark-black-blue);
  }

  .about-paragraph {
    padding: 0 1.25rem;
    max-width: 100%;
  }

  .about-paragraph:last-child {
    margin: 1rem 0 0;
  }

  footer {
    margin: 4rem 0 0;
    padding: 4rem 0;
    text-align: center;
  }

  .wrapper {
    display: block;
  }

  .footer-navigation {
    display: block;
  }

  .footer-nav-title {
    font-size: var(--main-fs);
    margin: 3rem 0 1.5rem;
  }

  .footer-nav-list-item {
    margin: 0.5rem 0;
  }
}

@media screen and (min-width: 1500px) {
  .editor-image-box {
    background-size: 80% !important;
    height: 70vh !important;
  }

  .infrastructure-section {
    background-position-y: -47.5rem !important;
    background-position-x: -20rem !important;
    background-size: 70% !important;
  }

  .blogr-image-box {
    background-size: cover !important;
    background-size: 90% !important;
    width: 100%;
  }
}
